body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    max-width: 540px;
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -2.5px;
    line-height: 90px;
    margin-bottom: 64px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-logo {
    padding-top: 5px;
}

.nav {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    color: #6e7ea9;
    letter-spacing: 2.5px;
    padding: 19px;
    
}

.btn-primary {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 20px 40px;
    border: 1px solid #1085e4;
    border-radius: 30px;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    font-size: 12px;
    font-weight: 700;
    color: #7e8bae;
    background-color: #cbdbe8;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 20px 40px;
    border: 1px solid #cbdbe8;
    border-radius: 30px;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    letter-spacing: 1.7px;
    padding: 20px 56px;
    margin-left: 16px;
}

.btn-group {
    margin-left: 4px;
}

.btn-group a + a {
    margin-left: 16px;    
}

.btn-subscribe {
    font-size: 14px;
    letter-spacing: 2.7px;
    padding: 16px 44px;
    border-radius: 28px;
}

.btn-info {
    font-size: 12px;
    font-weight: 700;
    color: #8085b1;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 20px 62px;
    border: 1px solid #dce1e5;
    border-radius: 30px;
}

.btn-info:hover {
    background-color: #edf4fb;
}

.btn-extension {
    padding: 20px 62px;
}

.btn-message {
    letter-spacing: 2.1px;
    padding: 22px 54px;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
}

.grid-item {
    text-align: center;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid-text .author {
   font-size: 14px;
   font-weight: 400;
   color: #1085e4;
}

.grid-text .author span {
    font-size: 14px;
    font-weight: 700;
    color: #192b59;
 }

 .subscribe-item h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.subscribe-item h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
}

.subscribe-item input {
    font-size: 14px;
    font-weight: 400;
    color: #b1c3ee;
}

.software-item h2,
.app-items h2, 
.analitic-item h2,
.simlicity-item h2,
.page-statistic h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.software-item dt {
    font-size: 16;
    font-weight: 700;
    color: #5a6789;
}

.software-item dd {
    font-size: 14;
    font-weight: 400;
    color: #7581a1;
}

.page-statistic {
    text-align: center;
}

.list-statistic {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 77px;
}

.list-statistic li {
    font-size: 12px;
    font-weight: 700;    
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
}

.list-statistic li span {
    display: block;
    font-size: 60px;
    font-weight: 700;    
    color: #bacbdc;
    letter-spacing: 0px;
    margin-bottom: 23px;
}

.page-statistic h2 {
    width: 440px;
    letter-spacing: -1.5px;
    line-height: 60px;
    margin: 0 auto;
}

.page-statistic h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    letter-spacing: 3.2px;
    line-height: 0px;
    margin-bottom: 23px;
}

.special-paragraph {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #c4d2dd;
}

.page-screen h2,
.page-plan h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -1.1px;    
    padding: 0;
    margin: 0 0 93px 0;
}

.page-screen h2 span,
.page-plan h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 28px;
    letter-spacing: 3.7px;
}

.screen {
    margin-top: 82px;
    margin-bottom: -7px;
}


.page-clients h2,
.page-team h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.page-clients h2 span,
.page-team h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: #85c8ff;
}

.box-clients p,
.box-price ul {
    font-size: 14px;
    color: #8085b1;
}

.box-clients .name {
    font-size: 22px;
    font-weight: 600;
    color: #000958;
}

.box-clients .position {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
}

.box-price {
    display: flex;
    justify-content: space-between;
}

.box-price p {
    padding: 0;
    margin: 0;
}

.box-price ul {
    list-style-type: none;
    padding: 0;
    margin: 28px 0 53px 0;
    line-height: 40px;
}

.box-price strong {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0084ff;
    letter-spacing: 2.7px;
}

.box-price-item,
.box-price-item-highprice {
    position: relative;
    background-color: #f5faff;
    padding: 89px 56px 96px 56px;
}

.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    color: #000958;
    letter-spacing: -2px;
    margin: 0 auto 36px auto;
}

.box-price-item-active {
    background-color: #192b59;
    padding: 89px 56px 96px 56px;
}

.box-price-item-active h3 {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 15px auto;
}

.box-price-item-active h3 span {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.box-price-item-highprice h3 {
    font-size: 70px;
    font-weight: 700;
    color: #192b59;
    letter-spacing: -2px;
    margin: 0 auto 15px auto;
}

.box-price-item-active strong {
    font-style: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.box-price-item-highprice h3 span {
    font-size: 20px;
    font-weight: 700;
    color: #192b59;
}

.box-price-item-active .simbol,
.box-price-item-highprice .simbol {
    font-size: 20px;
    font-weight: 700;
    color: #7b8ab2;
}

/* Стилизация затемненного угла у карточек "Free" и "$350/mo" раздела "page-plans" */

.second-color {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    background: linear-gradient(to bottom left, #edf4fb 0%,#edf4fb 50%,transparent 50%, transparent 100%);
}

/* Стилизация затемненного угла у карточек "Free" и "$350/mo" раздела "page-plans" */

.box-team .position {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #1a88e1;
}

.box-team .name {
    font-size: 26px;
    font-weight: 600;
    color: #192b59;
}

/* PAGE */

.page-statistic,
.page-screen,
.page-plan {
    background-color: #edf6ff;
}

.page-statistic {
    padding: 126px 0 96px 0;    
}

.page-screen {
    text-align: center;
    padding: 112px 0 0 0;
}

.page-plan {
    text-align: center;
    padding: 162px 0 121px 0;
}

/* PAGE */

/*Стилизация блока видеофайла в разделе "page-app"*/

.videofile {
    display: inline-block;
    position: relative;
}

.videofile a img {
    position: absolute;
    text-decoration: none;
    width: 18%;
    top:39%;
    left: 37%;
}

.videofile a img:hover {
    width: 22%;
    top:37%;
    left: 35%;
}
/*Стилизация блока видеофайла в разделе "page-app"*/
