body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    max-width: 540px;
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -2.5px;
    line-height: 90px;
    margin-bottom: 64px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 305px;   
}

.logo {
    display: block;
    width: 181px;
    height: 49px;
    background-image: url(../img/header/header_logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.logo:focus {
    outline: none;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    color: #6e7ea9;
    letter-spacing: 2.5px;
    padding: 19px 0 19px 0;
    margin: 0 19px;
}

.nav-item:hover {    
   padding-bottom: 17px;
   border-bottom: 2px solid #6e7ea9;   
}

.modal {
    display: none;
    position: fixed;
    text-align: center;
    top: 30px;
    right: 0;
    left: 0;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    z-index: 1000;
    margin: 0 auto;
    padding: 30px 15px 45px 15px;
    -webkit-box-shadow: 0 5px 6px #f3f3f3;
            box-shadow: 0 5px 6px #f3f3f3;
    border-radius: 10px;
}

.nav-modal {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
}

.nav-modal>li {
    margin-bottom: 12px;
}

.nav-modal .nav-item:hover {
    padding-bottom: 7px;   
    border-bottom: 2px solid #6e7ea9;   
 }

.nav-modal>li:last-child {
    margin-top: 35px;
}

.nav-modal .btn-free {
    margin-left: 0;
}

.btn-close {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 21px;
    font-size: 35px;
    color: #6e7ea9;
    opacity: .2;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-close:focus {
    outline: none;
}

.btn-close:hover {
    opacity: 1;
}

.screen-img {
    display: block;
    background-image: url(../img/header/header_screen.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 897px;
    height: 745px;
    position: absolute;
    right: 0;
    top: 186px;
}

.btn-menu {
    display: none;
    border: none;
    background-color: transparent;
}

.btn-menu:focus {
    outline: none;
}

.btn-menu svg {
    width: 35px;
    height: 35px;
    fill: #192b59;
}

.btn-primary {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 20px 40px;
    border: 1px solid #1085e4;
    border-radius: 30px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}

.btn-secondary {
    font-size: 12px;
    font-weight: 700;
    color: #7e8bae;
    background-color: #cbdbe8;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 20px 40px;
    border: 1px solid #cbdbe8;
    border-radius: 30px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    letter-spacing: 1.7px;
    padding: 20px 56px;
    margin-left: 16px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.btn-group {
    margin-left: 4px;
}

.btn-group a + a {
    margin-left: 16px;    
}

.list-companies {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.list-companies-item span {
    display: block;
    margin: 0 auto;
}

.company-one {
    -ms-flex-preferred-size: 198px;
        flex-basis: 198px;
}

.company-two {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
}

.company-three {
    -ms-flex-preferred-size: 201px;
        flex-basis: 201px;
}

.company-four {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
}

.company-one span {
    background-image: url(../img/sponsors/sponsors_logo_token.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 198px;
    height: 58px;
}

.company-two span {
    background-image: url(../img/sponsors/sponsors_logo_magneto.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 69px;
}

.company-three span {
    background-image: url(../img/sponsors/sponsors_logo_boohoo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 201px;
    height: 47px;
}

.company-four span {
    background-image: url(../img/sponsors/sponsors_logo_fractal.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 69px;
}

.btn-info {
    font-size: 12px;
    font-weight: 700;
    color: #8085b1;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 20px;
    padding: 20px 62px;
    border: 1px solid #dce1e5;
    border-radius: 30px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.btn-info:hover {
    background-color: #94b4cc;
    color: #fff;
    border: 1px solid #94b4cc;
}

.btn-extension {
    line-height: 20px;
    padding: 20px 62px;
}

.grid {
    display: grid;
    grid-template-areas:    "a b c"
                            "d b c"
                            "d e f"
                            "g e f"
                            "g h h";
    max-width: 1110px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 152px 212px 152px 212px 152px; /* Здесь добавил точные размеры для рядов потому что без этого никак не получалось точно подогнать размеры грид элементов под макет */
    grid-gap: 30px;
    padding: 118px 30px 118px 30px;
}

.grid-item {
    text-align: center;
    -webkit-box-shadow: 0 0 20px #f4f4f4;
            box-shadow: 0 0 20px #f4f4f4;
    border-radius: 10px;
    padding: 38px 0 66px 0;
}

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}

.grid h2 {
    width: 260px;
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
    margin: 0;
    letter-spacing: -1.2px;
    line-height: 49px;
}

.grid h2 span {
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2.8px;
    line-height: 18px;
    color: #1085e4;
}

.grid-text p {
    padding: 13px 0 0 20px;
    margin: 0;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -0.6px;
    margin: 15px 0 0 0;
}

.grid-item p {
    width: 260px;
    margin: 18px auto 16px auto;
}

.grid-item a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid-icon {
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 143px;
    height: 114px;
    background-position: center center;
}

.grid-icon-1 {
    background-image: url(../img/features/features_icon_1.png);
}

.grid-icon-2 {
    background-image: url(../img/features/features_icon_2.png);
}

.grid-icon-3 {
    background-image: url(../img/features/features_icon_3.png);
}

.grid-icon-4 {
    background-image: url(../img/features/features_icon_4.png);
}

.grid-icon-5 {
    background-image: url(../img/features/features_icon_5.png);
}

.grid-icon-6 {
    background-image: url(../img/features/features_icon_6.png);
}

.grid-text .author {
   font-size: 14px;
   font-weight: 400;
   color: #1085e4;
   padding: 11px 0 0 25px;
}

.grid-text .author span {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
 }

 .box-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.box-subscribe-child {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
}

.box-subscribe-child h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -1.6px;
    margin: 0 0 44px 0;
}

.box-subscribe-child h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    letter-spacing: 2.9px;
    margin-bottom: 31px;
}

.box-subscribe-child p {
    width: 440px;
    font-size: 18px;
    color: #dfe8ff;
    line-height: 28px;
    padding: 0;
    margin: 0 0 36px 0;
}

.block-subscribe {
    position: relative;    
}

.block-subscribe input {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #3d51a9;
    border-radius: 33px;
    padding: 24px 220px 26px 38px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.block-subscribe input:focus,
.btn-subscribe:focus {
    outline: none;
}

.block-subscribe input::-webkit-input-placeholder {color:#6e7fc2;}
.block-subscribe input:-moz-placeholder {color: #6e7fc2;}  
.block-subscribe input::-moz-placeholder {color: #6e7fc2;}  
.block-subscribe input:-ms-input-placeholder {color: #6e7fc2;}

.btn-subscribe {
    position: absolute;
    bottom: 14%;
    right: 2%;
    font-size: 14px;
    letter-spacing: 2.7px;
    padding: 16px 44px;
    border-radius: 28px;
}

.title-50 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-software-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.page-software-flex>div {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
}

.settigs-icon {
    display: block;
    background-image: url(../img/settings_btn.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 117px;
    height: 95px;
    margin-left: -28px;
}

.page-software h2 {
    max-width: 550px;
    margin: 11px 0 27px 0;
    line-height: 59px;
    letter-spacing: -1.4px;
    word-spacing: -2.5px;
}

.page-software-list {
    margin-top: 30px;
    height: 340px;
    overflow: hidden;
    overflow-y: scroll;
}

.page-software-list::-webkit-scrollbar { width: 4px;}
.page-software-list::-webkit-scrollbar-button { display: none; }
.page-software-list::-webkit-scrollbar-track { background-color: #f3f6ff;}
.page-software-list::-webkit-scrollbar-thumb { background-color: #1085e4; border-radius: 2px;}

.page-software-list dt {
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}

.page-software-list dd {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 0;
    margin-bottom: 24px;
    display: block;
    max-width: 91%;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 28px;
}

.page-software-list dd:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.page-software-screen {
    display: block;
    position: absolute;
    top: 47px;
    left: -2%;
    background-image: url(../img/features_1/features_1_screen.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 48%;
    height: 989px;
    z-index: -1;
}

.page-statistic {
    text-align: center;
}

.list-statistic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    margin-top: 77px;
}

.list-statistic li {
    font-size: 12px;
    font-weight: 700;    
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
}

.list-statistic li span {
    display: block;
    font-size: 60px;
    font-weight: 700;    
    color: #bacbdc;
    letter-spacing: 0px;
    margin-bottom: 23px;
}

.page-statistic h2 {
    width: 440px;
    letter-spacing: -1.5px;
    line-height: 60px;
    margin: 0 auto;
}

.page-statistic h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    letter-spacing: 3.2px;
    line-height: 0px;
    margin-bottom: 23px;
}

.object-circle {
    display: block;
    background-image: url(../img/circle-gray.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: -174px;
    bottom: -262px;
    width: 663px;
    height: 663px;
}

.object-rhombus {
    display: block;
    background-image: url(../img/rhombus-gray.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: -216px;
    width: 601px;
    height: 673px;
}

.page-app h2 {
    letter-spacing: -1.5px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 36px;
}

.page-app p {
    margin-left: 4px;
}

.special-paragraph {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #c4d2dd;
    letter-spacing: 3.3px;
    margin-top: 28px;
    margin-bottom: 18px;
}

.page-app-list {
    padding: 0;
    list-style-type: none;
    margin-left: -11px;
}

.page-app-list>li {
    display: inline-block;
}

.page-app-list>li>a {
    display: block;
    background-image: url(../img/video/app.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 185px;
    height: 78px;
}

.page-app-list>li>a.page-app-android {
    background-position: 0 0;
}

.page-app-list>li>a.page-app-ios {
    background-position: -189px 0;
}

.content-app {
    width: 55%;
}

/*Стилизация блока видеофайла в разделе "page-app"*/

.videofile {
    display: block;
    position: absolute;
    top: -60px;
    right: -171px;
    width: 561px;
    height: 522px;
    background-image: url(../img/video/video_preview.png);
    background-size: 100% 100%;
    background-position: center;
}

.fa-play {
    color: #1085e4;
}

.video-play-btn {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 42%;
    left: 39%;
    text-align: center;
    line-height: 80px;
    -webkit-box-shadow: 0 0 20px rgba(16,133,228,0.3);
            box-shadow: 0 0 20px rgba(16,133,228,0.3);
    -webkit-transition: .3s;
    transition: .3s;
}

.video-play-btn:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-box-shadow: 0 0 30px rgba(16,133,228,0.5);
            box-shadow: 0 0 30px rgba(16,133,228,0.5);
}
/*Стилизация блока видеофайла в разделе "page-app"*/

.flex-analitic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-analitic>div {
    -ms-flex-preferred-size: 53%;
        flex-basis: 53%;
}

.page-analitic-text {
    margin-bottom: 53px;
}

.page-analitic .title-50 {
    letter-spacing: -1.5px;
    line-height: 58px;
    margin-top: 12px;
    margin-bottom: 29px;
}

.flex-simplicity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-simplicity>div {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
}

.page-simplicity-text {
    margin-bottom: 52px;
}

.flex-simplicity .title-50 {
    letter-spacing: -1.5px;
    line-height: 58px;
    margin-top: 12px;
    margin-bottom: 29px;
}

.page-screen h2,
.page-plan h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -1.1px;    
    padding: 0;
}

.page-screen h2 span,
.page-plan h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 28px;
    letter-spacing: 3.7px;
}

.screen {
    margin-top: 50px;
    margin-bottom: -7px;
    max-width: 1288px;
    width: 100%;
}


.page-clients h2,
.page-team h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -1.2px;
}

.page-clients h2 span,
.page-team h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: #85c8ff;
    letter-spacing: 3.5px;
    margin-bottom: 28px;
}

.box-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 73px;
}

.box-clients-item {
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    background-color: #fff;
    padding: 34px 42px 40px 41px;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 6px #f4f4f4;
            box-shadow: 0 5px 6px #f4f4f4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.box-info>div {
    padding-left: 19px;
}

.box-clients-item p {
    font-size: 14px;
    color: #8085b1;
    line-height: 24px;
    margin: 0 0 27px 0;
}

.box-clients-item .name {
    font-size: 22px;
    font-weight: 600;
    color: #000958;
    letter-spacing: -0.6px;
    margin: 0 0 2px 0;
}

.box-clients-item .position {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    letter-spacing: 2.8px;
    margin: 0;
}

.box-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 93px;
}

.box-price p {
    padding: 0;
    margin: 0;
}

.box-price ul {
    font-size: 14px;
    color: #8085b1;
    list-style-type: none;
    padding: 0;
    margin: 28px 0 37px 0;
    line-height: 40px;
}

.box-price strong {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0084ff;
    letter-spacing: 2.7px;
}

.box-price-item,
.box-price-item-highprice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-color: #f5faff;
    padding: 89px 0 78px 0;
}

.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    color: #000958;
    letter-spacing: -2px;
    margin: 0 auto 36px auto;
}

.box-price-item-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #192b59;
    padding: 89px 0 78px 0;
}

.box-price-item-active h3 {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 15px auto;
}

.box-price-item-active h3 span {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.box-price-item-highprice h3 {
    font-size: 70px;
    font-weight: 700;
    color: #192b59;
    letter-spacing: -2px;
    margin: 0 auto 15px auto;
}

.box-price-item-active strong {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.box-price-item-highprice h3 span {
    font-size: 20px;
    font-weight: 700;
    color: #192b59;
}

.box-price-item-active .simbol,
.box-price-item-highprice .simbol {
    font-size: 20px;
    font-weight: 700;
    color: #7b8ab2;
}

/* Стилизация затемненного угла у карточек "Free" и "$350/mo" раздела "page-plans" */

.second-color {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 17%;
    background: -webkit-gradient(linear, right top, left bottom, from(#edf4fb),color-stop(50%, #edf4fb),color-stop(51%, transparent), to(transparent));
    background: linear-gradient(to bottom left, #edf4fb 0%,#edf4fb 50%,transparent 51%, transparent 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(to bottom left, #edf4fb 0%,#edf4fb 50%,transparent 51%, transparent 100%); /* Chrome10-25,Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf4fb', endColorstr='transparent',GradientType=1 );
}

/* Стилизация затемненного угла у карточек "Free" и "$350/mo" раздела "page-plans" */

.box-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.box-team-item {
    background-color: #fff;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    -webkit-box-shadow: 0 5px 6px #f4f4f4;
            box-shadow: 0 5px 6px #f4f4f4;
    position: relative;
    margin-top: 116px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 18.6% 0 40px 0;
    max-width: 350px;
    min-width: 270px;
}

.box-team-item .avatar {
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 83%;
}

.box-team .position {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #1a88e1;
    letter-spacing: 2.5px;
    margin: 0;
    padding: 0;
}

.box-team .name {
    font-size: 26px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -0.8px;
    margin: 8px 0 26px 0;
}

.box-team-item .btn-team {
    background-color: #f3f3f3;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
    -webkit-transition: .3s;
    transition: .3s;
}

.box-team-item .btn-team:hover {
    background-color: #1a88e1;
    -webkit-box-shadow: 0 10px 15px #d5d5d5;
            box-shadow: 0 10px 15px #d5d5d5;
}
 
.box-team-item .btn-team span{    
    background-image: url(../img/team/btn-team.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    -ms-flex-item-align: center;
        align-self: center;
}

.box-team-item .btn-more span{    
    background-position: 11px 15px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.box-team-item .btn-more span:hover {
    background-position: 11px -21px;
}

.box-team-item .btn-more:focus {
    outline: none;
}

.social-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    margin: 0 auto;
    padding: 0 60px;
}

.box-team-item .btn-fb span{    
    background-position: -22px 14px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.box-team-item .btn-fb span:hover {
    background-position: -22px -22px;
}

.box-team-item .btn-tw span{    
    background-position: -55px 14px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.box-team-item .btn-tw span:hover {
    background-position: -55px -22px;
}

.box-team-item .btn-be span{    
    background-position: -94px 14px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.box-team-item .btn-be span:hover {
    background-position: -94px -22px;
}

.box-team-item .btn-web span{    
    background-position: -130px 14px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.box-team-item .btn-web span:hover {
    background-position: -130px -22px;
}

.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contact-form input, .contact-form textarea {
    font-size: 14px;
    border: 2px solid #dce4ec;
    border-radius: 35px;
    padding: 26px 80px 26px 37px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
}

.contact-form textarea {
    min-height: 161px;
    resize: none;
}

.contact-form input:focus , .contact-form textarea:focus {
    outline: none;
}

.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder  {color:#8995b3;}
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {color: #8995b3;}  
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {color: #8995b3;}  
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {color: #8995b3;}

.contact-form .btn-primary {
    display: block;
    padding: 22px 0;
    max-width: 230px;
    letter-spacing: 2.1px;
}

.contact-form-item {
    margin-bottom: 19px; 
    position: relative; 
}

.contact-form-text {
    margin-bottom: 33px;
}

.contact-form-item::after {
    content: '';
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 40px;
}

.contact-form-name::after {
    top: calc(50% - 7px);
    background-image: url(../img/contact_form/icon-name.png);
    width: 13px;
    height: 15px;
}

.contact-form-mail::after {
    top: calc(50% - 6px);
    background-image: url(../img/contact_form/icon-mail.png);
    width: 14px;
    height: 11px;
}

.contact-form-text::after {
    top: 30px;
    background-image: url(../img/contact_form/icon-pen.png);
    width: 14px;
    height: 14px;
}

.flex-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1152px;
    margin: 0 auto;
}

.flex-form .title-50 {
    letter-spacing: -1.5px;
    line-height: 1.2;
    margin: 0 0 48px 0;
    padding: 0;
}

.flex-form>div {
    -ms-flex-preferred-size: 44.5%;
        flex-basis: 44.5%;
    padding-right: 15px;
}

.flex-form img {
    margin-right: 64px;
}

.flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-footer>p {
    font-size: 16px;
    font-weight: 400;
    color: #b6bae0;
}

.flex-footer>p>a {
    text-transform: uppercase;
    color: #1085e4;
}

.flex-footer .social {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.icon-footer {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.icon-fb>span {
    display: block;
    background-image: url(../img/footer/footer-social.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 14px;
}

.icon-fb>span:hover {
    background-position: 0 -27px;
}

.icon-tw>span {
    display: block;
    background-image: url(../img/footer/footer-social.png);
    background-position: -34px 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 19px;
}

.icon-tw>span:hover {
    background-position: -34px -27px;
} 

.icon-be>span {
    display: block;
    background-image: url(../img/footer/footer-social.png);
    background-position: -74px 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 24px;
}

.icon-be>span:hover {
    background-position: -74px -27px;
}

.icon-pint>span {
    display: block;
    background-image: url(../img/footer/footer-social.png);
    background-position: -117px 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.icon-pint>span:hover {
    background-position: -117px -27px;
}

.icon-F>span {
    display: block;
    background-image: url(../img/footer/footer-social.png);
    background-position: -149px 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 0;
}

.icon-F>span:hover {
    background-position: -149px -27px;
}

/* PAGE */

.page-header {
    background-image: url(../img/header/header_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}

.page-companies {
    background-image: url(../img/sponsors/sponsors_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 105px 0 100px 0;
}

.page-subscribe {
    background: #0a2090;
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #0a2090), color-stop(100%, #2378cd));
    background: linear-gradient(135deg, #0a2090 0%, #2378cd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
    padding: 22px 0 30px 0;
}

.page-software {
    position: relative;
    padding: 112px 0 147px 0;
    overflow: hidden;

}

.page-app .wrap {
    position: relative;
}

.intro {
    position: absolute;
    top: -113px;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.intro>p {
    margin: 0;
    padding: 0;
    font-size: 300px;
    font-weight: 900;
    line-height: 1;
    color: rgba(0, 0, 0, .04);
    text-align: center;
}

.page-app {
   padding: 112px 0 77px 0;
}

.page-analitic {
    background-image: url(../img/features_2/features_2_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 119px 0 137px 0;
}

.page-simplicity {
    background-image: url(../img/featutures_2/featutures_2_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 121px 0 139px 0;
}

.page-statistic,
.page-screen {
    background-color: #edf6ff;
}

.page-statistic {
    padding: 126px 0 96px 0;
    position: relative;  
}

.page-screen {
    text-align: center;
    padding: 112px 15px 0 15px;
}

.page-clients {
    position: relative;     
    padding: 40px 0 0 0;
    margin-top: 119px;
}

.page-clients::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/clients/clients_bg.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.page-plan {
    text-align: center;
    padding: 80px 0 121px 0;
}

.page-team {
    text-align: center;
    background-image: url(../img/team/team_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0 119px 0;
}

.page-form {
    background-image: url(../img/contact_form/contact_form_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 114px 0 122px 0;
}

.page-footer {
    margin: 0;
    background-color: #192b59;
    padding: 5px 0 6px 0;
}

/* PAGE */

/* MEDIA */

@media (max-width:1800px) {
    .screen-img {
        background-size: contain;
        width: 50%;        
        top: 15%;
    }
}

@media (max-width:1500px) {
    .page-header {
        padding: 53px 0 270px 0;
    }

    .box-header {
        margin-bottom: 205px;
    }

    .videofile {
        top: -23px;
        right: 0;
        width: 482px;
        height: 448px;
    }

    .video-play-btn {
        width: 68px;
        height: 68px;
        line-height: 68px;
    }
}

@media (max-width:1350px) {
    .page-header {
        padding: 53px 0 230px 0;
    }

    .box-header {
        margin-bottom: 155px;
    }

    .screen-img {
        top: 10%;
       }

    .page-software {
        padding: 60px 0;
    }

    .page-software-screen {
        display: none;
    }

    .page-software-flex {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .page-software-flex>div {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 0 15px;
    }

    .page-software-list {
        max-width: 800px;
        margin-right: 50px;
        height: 266px;
    }

    .object-circle {
        display: none;
    }

    .object-rhombus {
        display: none;
    }
}

@media (max-width:1100px) {
    .page-header {
        padding: 53px 0 150px 0;
    }

    .box-header {
        margin-bottom: 105px;
    }

    .btn-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .screen-img {
        display: none;
    }

    h1 {
        text-align: center;
        margin: 0 auto 45px;
    }

    .nav {
        display: none;
    }

    .btn-menu {
        display: block;
    }

    .btn-primary, .btn-secondary, .btn-info {
        padding: 15px 40px;
    }

    .content-app {
        width: 100%;
        text-align: center;
    }

    .list-companies-item {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }

    .list-companies-item span {
        margin-bottom: 50px;
    }

    .page-companies {
        padding: 50px 0 10px 0;
    }

    .grid {
        grid-template-areas: "a a" "b c" "d e" "f g" "h h";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding-top: 70px;
        padding-bottom: 70px;
        max-width: 800px;
    }

    .grid h2 {
        width: 100%;
        text-align: center;
    }

    .grid h2 span {
        margin-bottom: 10px;
    }

    .page-subscribe {
        padding: 50px 0 65px 0;
    }

    .box-subscribe {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .box-subscribe-child {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        text-align: center;
    }

    .box-subscribe-child p {
        margin: 0 auto 30px;
    }
    
    .box-subscribe img {
        margin: 0 auto 50px;
        max-width: 170px;
    }

    .btn-subscribe {       
        bottom: 16%;       
    }

    .page-statistic {
        padding: 70px 0 50px 0;
    }

    .page-app {
        padding: 329px 0 25px 0;
     }

    .videofile {
        display: block;
        top: -304px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 300px;
        height: 279px;
    }

    .video-play-btn {
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 10px;
    }

    .page-analitic {
        padding: 70px 0 70px 0;
    }

    .page-simplicity {
        padding: 70px 0 70px 0;
    }

    .page-screen {
        padding: 36px 15px 0 15px;
    }

    .screen {
        margin-top: 20px;
    }

    .page-clients {
        padding: 25px 0 0 0;
        margin-top: 50px;
    }

    .page-plan {        
        padding: 50px 0 70px 0;
    }

    .box-price-item, .box-price-item-highprice, .box-price-item-active {        
        padding: 60px 0 60px 0;
    }

    .box-price ul {        
        line-height: 30px;
    }

    .page-team {        
        padding: 35px 0 70px 0;
    }

    .social-team {        
        padding: 0px 45px;
    }

    .page-form {        
        padding: 70px 0 70px 0;
    }

}

@media (max-width:1020px) {
    .page-analitic {
       padding: 35px 0 35px 0;
    }

    .flex-analitic {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .flex-analitic>div {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .flex-analitic img {
        margin-left: 75px;
    }

    .settigs-icon {
       margin: 0;
    }

    .page-simplicity {
        padding: 35px 0 35px 0;
    }

    .flex-simplicity {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .flex-simplicity>div {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .flex-simplicity img {
        margin-left: 20px;
    }
    
    .social-team {        
        padding: 0px 35px;
    }

    .flex-form {        
        -webkit-box-orient: vertical;        
        -webkit-box-direction: normal;        
            -ms-flex-direction: column;        
                flex-direction: column;
    }

    .flex-form>div {
        -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
        max-width: 800px;
        padding: 0 25px;
    }

    .flex-form img {
        margin-right: 0;
    }

    .flex-form .title-50 {        
        text-align: center;
    }

    .contact-form .btn-primary {
        display: block;
        margin-left: auto;
        padding: 20px 40px;
    }
    
}

@media (max-width:930px) {
    .box-subscribe-child h2, .title-50 {
        font-size: 40px;
    }

    .intro {
        display: none;
    }

    .page-clients {
        padding: 25px 0 25px 0;        
        background-image: none;
        background-color: #1085e4;
    }

    .page-clients h2 {       
        text-align: center;
    }

    .box-clients {        
        -ms-flex-pack: distribute;        
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 53px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .box-clients-item { 
        -ms-flex-preferred-size: 100%; 
            flex-basis: 100%;             
        -webkit-box-shadow: 0 2px 10px #afafaf;
        box-shadow: 0 2px 10px #afafaf;               
        max-width: 350px;
        margin: 0 10px 20px 10px;
    }

    .box-price-item, .box-price-item-highprice, .box-price-item-active {
        padding: 50px 0 50px 0;
        max-width: 350px;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        margin: 0 10px 20px 10px;
    }

    .page-plan {
        padding: 30px 0 30px 0;
    }

    .box-price {        
        -ms-flex-pack: distribute;        
            justify-content: space-around;
        margin-top: 53px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .page-team {        
        background-image: none;
        background-color: #1085e4;        
    }

    .box-team {        
        -ms-flex-wrap: wrap;        
            flex-wrap: wrap;
        max-width: 800px;
        margin: 0 auto;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }   
    
    .box-team-item {    
        padding: 207px 0 40px 0;
        -webkit-box-shadow: 0 2px 10px #afafaf;
        box-shadow: 0 2px 10px #afafaf;       
        margin-left: 10px;
        margin-right: 10px;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;       
        position: relative;
    }  
    
}

@media (max-width:700px) {
    body {        
        font-size: 14px;
        line-height: 20px;       
    }

    h1 {
        font-size: 70px;
        line-height: 1.5;
        margin: 0 auto 30px;
    }

    .page-header {
        padding: 53px 0 100px 0;
    }

    .box-header {
        margin-bottom: 55px;
    }

    .grid {
        grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .grid-item {
        width: 100%;
        max-width: 350px;
        justify-self: center;
        padding: 20px 0 30px 0;
    }

    .grid h2 {        
        font-size: 30px;        
    }

    .grid-item h3 {
        font-size: 16px;
    }

    .grid-text .author span {
        font-size: 14px;
    }

    .page-subscribe {
        padding: 30px 0 50px 0;
    }

    .box-subscribe img {
        margin: 0 auto 30px;
    }

    .box-subscribe-child h2 span,
    .page-screen h2 span,
    .page-plan h2 span,
    .page-clients h2 span,
    .page-team h2 span {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 35px;
    }

    .box-subscribe-child p {
        width: 350px;
        font-size: 16px;
    }

    .block-subscribe input {       
        padding: 18px 200px 20px 38px;        
    }

    .box-subscribe-child h2,
    .page-software h2,
    .page-statistic h2,
    .page-app h2,
    .page-analitic .title-50,
    .flex-simplicity .title-50,
    .page-screen h2,
    .page-plan h2,
    .page-clients h2,
    .page-team h2,
    .flex-form .title-50,
    .title-50 {
        font-size: 30px;
        margin-bottom: 10px;
        line-height: 35px;
    }

    .btn-subscribe {
        bottom: 14%;
        padding: 14px 30px;
        font-size: 12px;
    }

    .page-software {
        padding: 35px 0;
    }

    .page-software-list dd {
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .page-statistic {
        padding: 35px 0 10px 0;
    }
    
    .page-statistic h2 span {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 35px;
    }
    
    .list-statistic {
        padding: 0;
    }
    
    .list-statistic li {
        -ms-flex-preferred-size: 34%;
            flex-basis: 34%;
        margin-bottom: 30px;
    }
    
    .page-app {
        padding: 329px 0 0 0;
    }

    .page-analitic,
    .page-simplicity {
        padding: 20px 0 20px 0;
    }

    .page-screen {
        padding: 20px 15px 0 15px;
    }

    .page-clients {
        padding: 10px 0 15px 0;
    }

    .box-clients {        
        margin-top: 40px;       
    }

    .box-clients-item .name {
        font-size: 18px;
    }

    .page-plan {
        padding: 20px 0 20px 0;
    }

    .box-price-item h3,
    .box-price-item-active h3,
    .box-price-item-highprice h3 {
        font-size: 60px;
    }

    .page-team {
        padding: 15px 0 45px 0;
    }
    
    .box-team .name {
        font-size: 22px;
    }

    .page-form {
        padding: 25px 0 35px 0;
    }
}

@media (max-width:600px) {
    h1 {
        font-size: 40px;
        line-height: 1.5;
        margin: 0 auto 30px;
    }

    .page-header {
        padding: 30px 0 70px 0;
    }

    .box-header {
        margin-bottom: 45px;
    }
    
    .btn-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        margin: 0 auto;
        max-width: 250px;
    }

    .btn-group a + a {
        margin-left: 0;
    }

    .btn-primary, .btn-secondary {
        margin-bottom: 10px;
        font-size: 10px;
        padding: 15px 20px;
    }

    .btn-extension {        
        padding: 15px 40px;
        font-size: 12px;
    }

    .social-team {
        padding: 0px 30px;
    }

    .btn-subscribe {        
        bottom: 14%;
        margin-bottom: 0;
    }

    .flex-analitic img {            
        margin-left: 30px;
    }
}

@media (max-width:530px) {
    .btn-group {        
        max-width: 200px;
    }

    .settigs-icon {       
        width: 60px;
        height: 49px;
        background-size: contain;     
    }

    .flex-analitic img {
        width: 280px;
        margin-left: 12%;
    }

    .flex-simplicity img,
    .flex-form img {
        width: 280px;
        margin: 0 auto;
    }

    .page-footer {        
        padding: 5px 0 15px 0;
    }

    .flex-footer { 
        -ms-flex-preferred-size: 90%; 
            flex-basis: 90%;      
        -webkit-box-pack: center;      
            -ms-flex-pack: center;      
                justify-content: center;       
        -ms-flex-wrap: wrap;       
            flex-wrap: wrap;       
    }

    .flex-footer>p {
        text-align: center;
    }

    .flex-footer .social {        
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        -webkit-padding-start: 0;
    }
}

@media (max-width:480px) { 
    .logo {        
        width: 120px;
        height: 32px;
        background-size: contain;       
    }

    .btn-menu svg {
        width: 25px;
        height: 25px;        
    }

    .company-one span {
        background-size: contain;        
        width: 120px;
        height: 38px;
    }

    .company-two span {
        background-size: contain;
        width: 120px;
        height: 41px;
    }

    .company-three span {
        background-size: contain;
        width: 120px;
        height: 28px;
    }

    .company-four span {
        background-size: contain;
        width: 120px;
        height: 41px;
    }

    .grid-icon {       
        width: 80px;
        height: 64px;
        background-size: contain;
    }

    .grid-item p {
        width: auto;
        margin: 18px 10px 16px 10px;
    }

    .box-subscribe-child p {
        width: 100%;        
    }

    .block-subscribe input {
        padding: 18px 135px 20px 38px;
    }

    .page-software-list {
        max-width: 800px;
        margin-right: 10%;
        height: 200px;
    }

    .page-statistic h2 {
        width: 100%;
    }
}

@media (max-width:430px) {
    .box-subscribe-child h2,
    .page-software h2,
    .page-statistic h2,
    .page-app h2,
    .page-analitic .title-50,
    .flex-simplicity .title-50,
    .page-screen h2,
    .page-plan h2,
    .page-clients h2,
    .page-team h2,
    .flex-form .title-50,
    .title-50 {        
        margin-top: 10px;        
    }

    .block-subscribe input {
        padding: 14px 20px 16px 20px;
        max-width: 320px;
    }

    .box-subscribe-child p {
        margin: 0 auto 20px;
    }

    .btn-subscribe {
        bottom: -50px;
        left: 0;        
    }

    .page-subscribe {
        padding: 30px 0 75px 0;
    }

    .page-app-list {       
        margin-left: 0;
    }

    .page-app-list>li>a.page-app-ios {
        background-position: -185px 0;
    }

    .box-clients-item {        
        margin: 0 0 20px 0;
        padding: 25px 20px;
    }

    .box-clients-item p {        
        margin-bottom: 15px;
    }

    .box-price {       
        margin-top: 25px;       
    }

    .box-price-item,
    .box-price-item-highprice,
    .box-price-item-active {
        padding: 40px 0 30px 0;      
    }

    .box-price-item h3,
    .box-price-item-active h3,
    .box-price-item-highprice h3 {
        font-size: 40px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    .box-price ul {
        margin: 15px 0 25px 0;
    }

    .box-team-item {
        margin-left: 0;
        margin-right: 0;
        padding: 60% 0 10% 0;
    }

    .page-form {
        padding: 25px 0 15px 0;
    }

    .contact-form-text {
        margin-bottom: 20px;
    }

}

/* MEDIA */