body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}


a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-primary {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 20px 40px;
    border: 1px solid #1085e4;
    border-radius: 30px;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    font-size: 12px;
    font-weight: 700;
    color: #7e8bae;
    background-color: #cbdbe8;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 20px 40px;
    border: 1px solid #cbdbe8;
    border-radius: 30px;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    letter-spacing: 1.7px;
    padding: 20px 56px;
}

.btn-group a + a {
    margin-left: 16px;    
}

.btn-subscribe {
    font-size: 14px;
    letter-spacing: 2.7px;
    padding: 16px 44px;
    border-radius: 28px;
}

.btn-info {
    font-size: 12px;
    font-weight: 700;
    color: #8085b1;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 20px 62px;
    border: 1px solid #dce1e5;
    border-radius: 30px;
}

.btn-info:hover {
    background-color: #edf4fb;
}

.btn-extension {
    padding: 20px 62px;
}

.btn-message {
    letter-spacing: 2.1px;
    padding: 22px 54px;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
}

.grid-item {
    text-align: center;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid-text .author {
   font-size: 14px;
   font-weight: 400;
   color: #1085e4;
}

.grid-text .author span {
    font-size: 14px;
    font-weight: 700;
    color: #192b59;
 }

 .subscribe-item h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.subscribe-item h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
}

.subscribe-item input {
    font-size: 14px;
    font-weight: 400;
    color: #b1c3ee;
}

.software-item h2,
.app-items h2, 
.analitic-item h2,
.simlicity-item h2,
.statistic-item h2,
.page-screens h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.software-item dt {
    font-size: 16;
    font-weight: 700;
    color: #5a6789;
}

.software-item dd {
    font-size: 14;
    font-weight: 400;
    color: #7581a1;
}

.statistic-item {
    text-align: center;
}

.statistic-item ul li {
    font-size: 12px;
    font-weight: 700;    
    color: #1085e4;
    text-transform: uppercase;
}

.statistic-item ul li span {
    display: block;
    font-size: 60px;
    font-weight: 700;    
    color: #bacbdc;
}

.statistic-item h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
}

.special-paragraph {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #c4d2dd;
}

.page-screens {
    text-align: center;
}

.page-screens h2 span,
.page-plan h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
}

.page-testimonials h2,
.page-team h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.page-testimonials h2 span,
.page-team h2 span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: #85c8ff;
}

.box-clients p,
.box-price ul {
    font-size: 14px;
    color: #8085b1;
}

.box-clients .name {
    font-size: 22px;
    font-weight: 600;
    color: #000958;
}

.box-clients .position {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
}

.page-plan h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}

.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    color: #000958;
}

.box-price strong {
    font-style: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0084ff;
}

.box-price-item-active h3 {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
}

.box-price-item-active h3 span {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.box-price-item-highprice h3 {
    font-size: 70px;
    font-weight: 700;
    color: #192b59;
}

.box-price-item-active strong {
    font-style: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.box-price-item-highprice h3 span {
    font-size: 20px;
    font-weight: 700;
    color: #192b59;
}

.box-price-item-active .simbol,
.box-price-item-highprice .simbol {
    font-size: 20px;
    font-weight: 700;
    color: #7b8ab2;
}

.box-team .position {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #1a88e1;
}

.box-team .name {
    font-size: 26px;
    font-weight: 600;
    color: #192b59;
}

/*Стилизация блока видеофайла в разделе "page-app"*/

.videofile {
    display: inline-block;
    position: relative;
}

.videofile a img {
    position: absolute;
    text-decoration: none;
    width: 18%;
    top:39%;
    left: 37%;
}

.videofile a img:hover {
    width: 22%;
    top:37%;
    left: 35%;
}
/*Стилизация блока видеофайла в разделе "page-app"*/
